<% const renderBody=()=> { %>
    <div class="container">
        <h1>Contact Us</h1>
        <p>Email: support@example.com</p>
        <p>Phone: +91-00000-00000</p>
    </div>
    <% }; %>
        <%- include('layout', { title, includeBody: renderBody }) %>